In [1]:
import pandas as pd

In [11]:
# definir las variables de rutas de los documentos.

path_1_15_agosto = 'datos-llamadas/Reporte_1_15_agosto.csv'
path_1_15_julio = 'datos-llamadas/Reporte_1_15_julio.csv'
path_16_31_agosto = 'datos-llamadas/Reporte_16_31_agosto.csv'
path_16_31_julio = 'datos-llamadas/Reporte_16_31_julio.csv'

# Analisis datos del 1 al 15 de julio

In [12]:
# Cargado el archivo de la fecha con pandas
df_julio_1 = pd.read_csv(path_1_15_julio, encoding='ISO-8859-1')# envio ruta de datos 1 al 15 de julio
df_julio_1.head(1)

,Fecha,Fuente,DID,Grupo,Destino,Canal origen,PIN,Canal destino,Estado,Duración,Minutos,Aplicación,ID,Unnamed: 13
0,2025-07-15 19:07:16,2131,3.184967e+09,NaN,3184966691,SIP/2131-000065da,NaN,SIP/Tk_SIP_ITBX-000065db,CONTESTADO,138s (2m 18s),3,NaN,1752624436.26611,NaN

In [13]:
#Verificamos el estado de los datos con la funcion info()
df_julio_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117925 entries, 0 to 117924
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Fecha          117925 non-null  object
 1   Fuente         117925 non-null  object
 2   DID            117876 non-null  float64
 3   Grupo          0 non-null       float64
 4   Destino        117925 non-null  int64
 5   Canal origen   117925 non-null  object
 6   PIN            0 non-null       float64
 7   Canal destino  117925 non-null  object
 8   Estado         117925 non-null  object
 9   Duración       117925 non-null  object
 10  Minutos        117925 non-null  int64
 11  Aplicación     0 non-null       float64
 12  ID             117925 non-null  object
 13  Unnamed: 13    0 non-null       float64
dtypes: float64(5), int64(2), object(7)
memory usage: 12.6+ MB

In [14]:
# eliminar columnas que resgistran datos nulos.

df_julio_1 = df_julio_1.drop(columns=["Grupo", "PIN","Aplicación", "Unnamed: 13"])

df_julio_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117925 entries, 0 to 117924
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Fecha          117925 non-null  object
 1   Fuente         117925 non-null  object
 2   DID            117876 non-null  float64
 3   Destino        117925 non-null  int64
 4   Canal origen   117925 non-null  object
 5   Canal destino  117925 non-null  object
 6   Estado         117925 non-null  object
 7   Duración       117925 non-null  object
 8   Minutos        117925 non-null  int64
 9   ID             117925 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 9.0+ MB

In [15]:
# eliminar columnas que el experto dice que se pueden omitir y no aporta al problema en estudio
# Alex dice que columanas DID, Destino,Canal origen, Canal destino, Duración, ID son desechables.
# Para utilizamos la funcion drop() nuevamente.

df_julio_1 = df_julio_1.drop(columns=["DID", "Destino", "Canal origen", "Canal destino", "Duración","ID"])

df_julio_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117925 entries, 0 to 117924
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Fecha    117925 non-null  object
 1   Fuente   117925 non-null  object
 2   Estado   117925 non-null  object
 3   Minutos  117925 non-null  int64
dtypes: int64(1), object(3)
memory usage: 3.6+ MB

In [16]:
df_julio_1.head(5)

                 Fecha Fuente         Estado  Minutos
0  2025-07-15 19:07:16   2131     CONTESTADO        3
1  2025-07-15 19:03:09   2131     CONTESTADO        3
2  2025-07-15 19:02:47   2131  NO CONTESTADO        0
3  2025-07-15 19:02:11   2131  NO CONTESTADO        0
4  2025-07-15 19:00:19   2131     CONTESTADO        2